build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

beta/
copyModFilesForBeta.sh

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
*.salive

.env
.env.ps1

*~

*autosave.kra